body {
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    color: #bfff57;
    font-family: 'Lato', sans-serif;
    font-size: 4em;
    font-weight: 200;
    margin-bottom: 0;
}

h2 {
    color: #302d43;
    letter-spacing: normal;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 0;
}

h3 {
    color: #302d43;
    letter-spacing: normal;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}

h4 {
    color: #ffffff;
    letter-spacing: normal;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.header {
    padding: .5em;
    margin: 0;
    position: relative;
    background-color: #4482b6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #eeeeee;
    font-size: 18px;
}

.page {
    margin: 0;
    padding: 0;
}

.section {
    margin: 1em;
    padding: 0;
}

.subtitle {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.sub-text{
    width: 25em;
    text-align: center;
}

.navigation {
    margin: 0;
    padding: 0;
}

.pointer {
    cursor: pointer;
    text-decoration: none;
}

.pointer a{
    text-decoration: none;
}


.data-table {
    margin-left: 1em;
    padding: 1em;
}

.box-section {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: space-around;
}

.box-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: space-around;
}

.box {
    margin: 1em 0;
    padding: 0;
    position: relative;
    background-color: #4095c7;
    color: #ffffff;
    border-radius: 5px;
    flex-grow: 0;
    align-content: space-around;
    align-self: flex-start;
}

.box-blank {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 5px;
    flex-grow: 0;
    align-content: space-around;
    align-self: flex-start;
}

.box-title {
    margin: 0;
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-self: center;
    background-color: lightslategrey;
    border-radius: 5px;
}

.box-padding {
    margin: 0;
    padding: .2em 1em 1em 1em;
}

.white-link {
    color: #ffffff;
    font-style: normal;
}

.align-right {
    margin: 0;
    align-self: end;
}

.phead-color {
    padding: 1em;
    background-color: lightslategrey;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.table-row-color {
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
    background-color: #4095c7;
    color: #ffffff;
}

.table-row-color:hover {
    background-color: #adc2d6;
    color: #000000;
}

.non-link {
    color: #ffffff;
    letter-spacing: normal;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}